<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UI14_ UILayer实现圆角_阴影.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F19F1D1C33C8410053FAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F19F361C33C8430053FAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F19F411C33C8430053FAB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
